# dependencies / builds
node_modules/
.next/
out/
dist/
.cache/
.turbo/
.vercel/
.vercel/
.cursor/
.vscode/

# env / local
.env*
.DS_Store
.env.local
AGENTS.md

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
coverage/
